<div
  id="carouselExampleIndicators"
  class="carousel slide"
  class="row"
  data-bs-ride="carousel"
>
  <div class="carousel-inner" 
  class="col-md-8">
    <div
      *ngFor="let image of carImages; let i = index"
      [ngClass]="getSliderClassName(i)"
    >
      <img
        src="{{ baseUrl }}/{{ image.imagePath }}"
        class="d-block w-100"
        width="800"
        height="400"
        alt="..."
      />
    </div>
  </div>
  <div class="col-md-2">
    <div *ngFor="let car of cars" class="card" style="width: 18rem"> 
      <ul  class="list-group list-group-flush">
       
        <li class="list-group-item">Marka: {{ car.brandName }}</li>
        <li class="list-group-item">Model: {{ car.name }}</li>
        <li class="list-group-item">Yıl:   {{ car.modelYear }}</li>
        <li class="list-group-item">Renk:  {{ car.colorName }}</li>
        <li class="list-group-item">Fiyat: {{ car.dailyPrice }} TL</li>

      </ul> 
      <br>
    </div>
  </div>
      
      <div class="card-body d-grid gap-2 mx-auto">
        <div *ngIf="rentalControl == true" class="btn-group me-2">
          <div style="margin: auto;">
            <app-rental-add [car]="cars"></app-rental-add>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 mb-2" *ngIf="rentalControl== false">
        <div class="alert alert-danger">{{rentalMessage}}
      </div>
    </div>
    
 


